.footer {
  position: fixed;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  overflow: hidden;
}
i {
  font-size: clamp(0.6rem, 1.2vw, 1.5rem);
}
i:hover {
  /* border: 2px solid black; */
  cursor: pointer;
}
a {
  color: inherit;
  align-self: flex-end;
}
a:visited {
  color: inherit;
}
a:hover {
  text-decoration: underline;
  color: #d81e1e;
}
