.footer {
  position: fixed;
  top: 0;
  right: 0;
  margin: 20px;
  margin-left: 3em;
  height: 30px;
  box-sizing: border-box;
  overflow: hidden;
}
i {
  font-size: clamp(0.6rem, 1.2vw, 1.5rem);
  width: 40px;
}
i:hover {
  /* border: 2px solid black; */
  cursor: pointer;
}
a {
  color: inherit;
  align-self: flex-end;
}
a:visited {
  color: inherit;
}
a:hover {
  color: #d81e1e;
}
@media only screen and (max-width: 600px) {
  i {
    font-size: small;
  }
}
