html {
  font-size: 18px; /* Base font size */
}
body {
  font-size: 1rem; /* 16px */
  line-height: 1.5;
}
h2 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
h3 {
  font-size: clamp(0.6rem, 1.2vw, 1.5rem);
}
div {
  font-size: clamp(0.6rem, 1vw, 1.5rem); /* Responsive font size */
}
p {
  font-size: clamp(0.6rem, 2vw, 1.125rem); /* Responsive font size */
}
