html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  background-color: white;
  overflow: hidden;
  color: black;
  user-select: none;
}
html {
  font-size: 18px; /* Base font size */
}
body {
  font-size: 1rem; /* 16px */
}
h2 {
  font-size: clamp(1rem, 2.5vw, 1.5rem);
}
div {
  /* Responsive font size */
  text-align: center;
  line-height: 1.5;
}
p {
  font-size: clamp(0.6rem, 2vw, 1.125rem); /* Responsive font size */
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  font-size: clamp(0.6rem, 2vw, 1.125rem);
}
.card {
  padding: 20px 10px;
  min-width: 120px;
  width: fit-content;
  border-radius: 10px;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 0.5s ease forwards;
  font-size: clamp(0.65rem, 2vw, 1.125rem);
}
.card:hover,
.courseCard:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 50vh; */
}
.courseContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.courseCard {
  text-align: left;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  animation: fadeIn 0.5s ease forwards;
  border-radius: 20px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background: linear-gradient(90deg, #f8e8e8, #ffffff);

  color: rgb(1, 1, 1);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {
  .container {
    justify-content: space-evenly;
    gap: 5px;
  }
  .card {
    padding: 10px 10px;
    width: fit-content;
    min-width: 60px;
  }
  .courseContainer {
    width: 200px;

    gap: 10px;
  }
  p #courseContainer {
    font-size: small;
  }
  html {
    overflow: scroll;
  }
  .footer {
    position: relative;
  }
}
